[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = viewport
[submodule "Dependencies/tracy"]
	path = Dependencies/tracy
	url=https://github.com/wolfpld/tracy
	branch = master
[submodule "Dependencies/meshoptimizer"]
	path = Dependencies/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
	branch = master
[submodule "Dependencies/tbb"]
	path = Dependencies/tbb
	url = https://github.com/michaelpennington/oneTBB
	branch = tbb_2019
[submodule "Dependencies/libdeflate"]
	path = Dependencies/libdeflate
	url = https://github.com/ebiggers/libdeflate.git
[submodule "Dependencies/detours"]
	path = Dependencies/detours
	url = https://github.com/michaelpennington/detours.git
